[paths]
source =
  multidict
  */lib/pypy*/site-packages/multidict
  */lib/python*/site-packages/multidict
  */Lib/site-packages/multidict

[run]
branch = true
cover_pylib = false
relative_files = true
source =
  tests
source_pkgs =
  multidict
