---

ci:
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/python-jsonschema/check-jsonschema.git
  rev: 0.27.3
  hooks:
  - id: check-github-workflows
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-jsonschema
    alias: check-github-workflows-timeout
    name: Check GitHub Workflows set timeout-minutes
    args:
    - --builtin-schema
    - github-workflows-require-timeout
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-readthedocs

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.33.0
  hooks:
  - id: yamllint
    args:
    - --strict

- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(
      bugfix
      | feature
      | deprecation
      | breaking
      | doc
      | packaging
      | contrib
      | misc
      )(.#)?(.rst)?
    exclude: >-
      (?x)
      ^
        CHANGES/(
          \.gitignore
          |(\d+|[0-9a-f]{8}|[0-9a-f]{7}|[0-9a-f]{40})\.(
            bugfix
            |feature
            |deprecation
            |breaking
            |doc
            |packaging
            |contrib
            |misc
          )(\.\d+)?(\.rst)?
          |README\.rst
          |\.TEMPLATE\.rst
        )
      $
    files: ^CHANGES/
    types: []
    types_or:
    - file
    - symlink
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types:
    - file
    - rst

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v0.991
  hooks:
  - id: mypy
    alias: mypy-py38
    name: MyPy, for Python 3.8
    additional_dependencies:
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - pytest
    args:
    - --install-types
    - --non-interactive
    - --python-version=3.8
    - --txt-report=.tox/.tmp/.mypy/python-3.8
    - --cobertura-xml-report=.tox/.tmp/.mypy/python-3.8
    - --html-report=.tox/.tmp/.mypy/python-3.8
    pass_filenames: false

...
