---

ci:
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/python-jsonschema/check-jsonschema.git
  rev: 0.29.3
  hooks:
  - id: check-github-workflows
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-jsonschema
    alias: check-github-workflows-timeout
    name: Check GitHub Workflows set timeout-minutes
    args:
    - --builtin-schema
    - github-workflows-require-timeout
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-readthedocs

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.35.1
  hooks:
  - id: yamllint
    args:
    - --strict

- repo: https://github.com/PyCQA/flake8.git
  rev: 7.1.1
  hooks:
  - id: flake8
    alias: flake8-no-wps
    name: flake8 WPS-excluded
    additional_dependencies:
    - flake8-pyi ~= 24.1.0
    - flake8-pytest-style ~= 1.7.2

- repo: local
  hooks:
  - id: top-level-tests-init-py
    name: there must be not top-level `__init__.py` in `tests/`
    language: fail
    entry: >-
      The `tests/__init__.py` module must not exist so `pytest` doesn't add the
      project root to `sys.path` / `$PYTHONPATH`
    files: >-
      (?x)
      ^
        tests/__init__\.py
      $
    types: []
    types_or:
    - file
    - symlink
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(
      bugfix
      | feature
      | deprecation
      | breaking
      | doc
      | packaging
      | contrib
      | misc
      )(.#)?(.rst)?
    exclude: >-
      (?x)
      ^
        CHANGES/(
          \.gitignore
          |(\d+|[0-9a-f]{8}|[0-9a-f]{7}|[0-9a-f]{40})\.(
            bugfix
            |feature
            |deprecation
            |breaking
            |doc
            |packaging
            |contrib
            |misc
          )(\.\d+)?(\.rst)?
          |README\.rst
          |\.TEMPLATE\.rst
        )
      $
    files: ^CHANGES/
    types: []
    types_or:
    - file
    - symlink
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types:
    - file
    - rst

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.11.2
  hooks:
  - id: mypy
    alias: mypy-py313
    name: MyPy, for Python 3.13
    additional_dependencies:
    - types-docutils
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - pytest
    - pytest_codspeed==3.0.0
    - Sphinx >= 5.3.0
    args:
    - --python-version=3.13
    - --txt-report=.tox/.tmp/.mypy/python-3.13
    - --cobertura-xml-report=.tox/.tmp/.mypy/python-3.13
    - --html-report=.tox/.tmp/.mypy/python-3.13
    pass_filenames: false
  - id: mypy
    alias: mypy-py311
    name: MyPy, for Python 3.11
    additional_dependencies:
    - types-docutils
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - pytest
    - pytest_codspeed==3.0.0
    - Sphinx >= 5.3.0
    args:
    - --python-version=3.11
    - --txt-report=.tox/.tmp/.mypy/python-3.11
    - --cobertura-xml-report=.tox/.tmp/.mypy/python-3.11
    - --html-report=.tox/.tmp/.mypy/python-3.11
    pass_filenames: false
  - id: mypy
    alias: mypy-py39
    name: MyPy, for Python 3.9
    additional_dependencies:
    - types-docutils
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - pytest
    - pytest_codspeed==3.0.0
    - Sphinx >= 5.3.0
    args:
    - --python-version=3.9
    - --txt-report=.tox/.tmp/.mypy/python-3.9
    - --cobertura-xml-report=.tox/.tmp/.mypy/python-3.9
    - --html-report=.tox/.tmp/.mypy/python-3.9
    pass_filenames: false
  - id: mypy
    alias: mypy-py38
    name: MyPy, for Python 3.8
    additional_dependencies:
    - types-docutils
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - pytest
    - pytest_codspeed==3.0.0
    - Sphinx >= 5.3.0
    args:
    - --python-version=3.8
    - --txt-report=.tox/.tmp/.mypy/python-3.8
    - --cobertura-xml-report=.tox/.tmp/.mypy/python-3.8
    - --html-report=.tox/.tmp/.mypy/python-3.8
    pass_filenames: false

...
