include .coveragerc
include pyproject.toml
include pytest.ini
include LICENSE
include CHANGES.rst
include README.rst
include Makefile
graft multidict
graft docs
graft CHANGES
graft requirements
graft tests
global-exclude *.pyc
include multidict/*.c
include multidict/__init__.pxd
include multidict/multidict_api.h
exclude multidict/_multidict.html
exclude multidict/*.so
exclude multidict/*.pyd
prune docs/_build
prune multidict/_multilib