include .coveragerc
include pyproject.toml
include pytest.ini
include LICENSE
include CHANGES.rst
include README.rst
include Makefile
graft multidict
graft packaging
graft docs
graft CHANGES
graft requirements
graft tests
global-exclude *.pyc
include multidict/*.c
exclude multidict/_multidict.html
exclude multidict/*.so
exclude multidict/*.pyd
exclude multidict/*.pyd
prune docs/_build
