include LICENSE.txt
include CHANGES.rst
include README.rst
include Makefile
graft multidict
graft docs
graft tests
global-exclude *.pyc
exclude multidict/_multidict.html
exclude multidict/_multidict.*.so
exclude multidict/_multidict.pyd
exclude multidict/_multidict.*.pyd
prune docs/_build
