[build-system]
requires = ["pip>=19.3", "setuptools>=40", "wheel"]


[tool.towncrier]
package = "multidict"
filename = "CHANGES.rst"
directory = "CHANGES/"
title_format = "{version} ({project_date})"
template = "CHANGES/.TEMPLATE.rst"
issue_format = "`#{issue} <https://github.com/aio-libs/aiohttp/issues/{issue}>`_"
