[build-system]
requires = ["setuptools>=40", "wheel"]


[tool.towncrier]
package = "multidict"
filename = "CHANGES.rst"
directory = "CHANGES/"
title_format = "{version} ({project_date})"
issue_format = ":issue:`{issue}`"


[tool.cibuildwheel]
test-requires = "-r requirements/ci.txt"
test-command = "pytest {project}/tests"
# don't build PyPy wheels, install from source instead
skip = "pp*"